{% extends 'base.html'%}
    {% block content %}

<div class="auth-views-container container-fluid">
    <div class="row">
        <div class="col-3">
            {% include 'navbars/product_navbar.html'%}
        </div>
        <div class="col-9 my-5 px-5">
            <div>
                <img src="{{ url_for('static', filename='images/elektro_board1.jpg') }}" class="img-fluid rounded shadow-lg">
            </div>

            <div class="py-3 text-center"><h1>Nejnovější produkty</h1></div>

            <div class="row">

            {% for product in newest_products %}
    <div class="card col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mx-2">
        <img src="{{ url_for('static', filename='images/uploads/' + product.product_image) }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title pb-2">{{ product.product_name }}</h5>
            <p class="card-text">{{ product.description[:100] }}</p>
            <p class="card-text">Price: ${{ product.price }}</p>
            <!-- Add any other product information you want to display -->
        </div>
    </div>
{% endfor %}
  </div>



        </div>
    </div>
</div>
{%endblock content %}
