[run]
source = .
omit =
    myshop/tests/*
    app.py
    myshop/products.py
    myshop/create_mobile_data.py
    myshop/create_notebook_data.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: