.greencolor {
  color: green; }

body, html {
  height: 100%;
  margin: 0; }

.register-form-container {
  background-image: url("../images/formbg8.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: auto; }

.customer_email_check {
  color: red; }

.customer_username_check {
  color: red; }
