{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid login-form-container py-5">
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 login-form-middle-container">

<form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="Přihlašovací email") }}
        {% for error in form.email.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control", placeholder="Přihlašovací heslo") }}
        {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-warning") }}
</form>
    </div>
</div>
{%endblock content %}
