{% extends 'base.html'%}
    {% block content %}

<h1 class="text-center">Registrace</h1>

<form method="POST" action="{{ url_for('auth.register') }}">
  <div class="form-group">
    <label for="username">Přihlašovací jméno:</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="phone_code">Kód:</label>
    <input type="text" class="form-control" id="phone_code" name="phone_code" required>
  </div>
  <div class="form-group">
    <label for="phone">Telefon:</label>
    <input type="text" class="form-control" id="phone" name="phone" required>
  </div>
  <div class="form-group">
    <label for="password1">Heslo:</label>
    <input type="password" class="form-control" id="password1" name="password1" required>
  </div>
  <div class="form-group">
    <label for="password2">Potvrdit heslo:</label>
    <input type="password" class="form-control" id="password2" name="password2" required>
  </div>

  <h1 class="text-center">Fakturacni udaje</h1>

  <div class="form-group">
    <label for="faktura_first_name">Jméno:</label>
    <input type="text" class="form-control" id="faktura_first_name" name="faktura_first_name" required>
  </div>

  <div class="form-group">
    <label for="faktura_last_name">Příjmení:</label>
    <input type="text" class="form-control" id="faktura_last_name" name="faktura_last_name" required>
  </div>

  <div class="form-group">
    <label for="faktura_city">Město:</label>
    <input type="text" class="form-control" id="faktura_city" name="faktura_city" required>
  </div>

  <div class="form-group">
    <label for="faktura_street">Ulice:</label>
    <input type="text" class="form-control" id="faktura_street" name="faktura_street" required>
  </div>

  <div class="form-group">
    <label for="faktura_zipcode">PSČ:</label>
    <input type="text" class="form-control" id="faktura_zipcode" name="faktura_zipcode" required>
  </div>

    <h1 class="text-center">Dodaci udaje</h1>

  <div class="form-group">
    <label for="dodej_first_name">Jméno:</label>
    <input type="text" class="form-control" id="dodej_first_name" name="dodej_first_name" required>
  </div>

  <div class="form-group">
    <label for="dodej_last_name">Příjmení:</label>
    <input type="text" class="form-control" id="dodej_last_name" name="dodej_last_name" required>
  </div>

  <div class="form-group">
    <label for="dodej_company">Firma:</label>
    <input type="text" class="form-control" id="dodej_company" name="dodej_company" required>
  </div>

  <div class="form-group">
    <label for="dodej_city">Město:</label>
    <input type="text" class="form-control" id="dodej_city" name="dodej_city" required>
  </div>

  <div class="form-group">
    <label for="dodej_street">Ulice:</label>
    <input type="text" class="form-control" id="dodej_street" name="dodej_street" required>
  </div>

  <div class="form-group">
    <label for="dodej_zipcode">PSČ:</label>
    <input type="text" class="form-control" id="dodej_zipcode" name="dodej_zipcode" required>
  </div>

  <div class="form-group">
    <label for="dodej_info">Info(např. patro):</label>
    <input type="text" class="form-control" id="dodej_info" name="dodej_info" required>
  </div>

  <div class="form-group">
    <label for="dodej_phone_code">Kód:</label>
    <input type="text" class="form-control" id="dodej_phone_code" name="dodej_phone_code" required>
  </div>

  <div class="form-group">
    <label for="dodej_phone">Telefon:</label>
    <input type="text" class="form-control" id="dodej_phone" name="dodej_phone" required>
  </div>

    <h1 class="text-center">Firemni udaje</h1>


  <div class="form-group">
    <label for="firma_ico">IČO:</label>
    <input type="text" class="form-control" id="firma_ico" name="firma_ico" required>
  </div>

  <div class="form-group">
    <label for="firma_dic">DIČ:</label>
    <input type="text" class="form-control" id="firma_dic" name="firma_dic" required>
  </div>

  <div class="form-group">
    <label for="firma_bank_acc">Číslo účtu:</label>
    <input type="text" class="form-control" id="firma_bank_acc" name="firma_bank_acc" required>
  </div>

  <div class="form-group">
    <label for="firma_bank_number">Kód banky:</label>
    <input type="text" class="form-control" id="firma_bank_number" name="firma_bank_number" required>
  </div>

  <div class="form-group">
    <label for="firma_spec_symbol">Specifický symbol:</label>
    <input type="text" class="form-control" id="firma_spec_symbol" name="firma_spec_symbol" required>
  </div>

<br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>


{%endblock content %}
