{% extends 'base.html'%}
    {% block content %}

<h1 class="text-center">Registrace</h1>

<form method="POST" action="{{ url_for('auth.register') }}">
  <div class="form-group">
    <label for="username">Přihlašovací jméno:</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="phone_code">Phone Code</label>
    <input type="text" class="form-control" id="phone_code" name="phone_code" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" required>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" required>
  </div>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2" required>
  </div>

  <h1 class="text-center">Fakturaci udaje</h1>

    <div class="form-group">
    <label for="faktura_first_name">Jméno:</label>
    <input type="text" class="form-control" id="faktura_first_name" name="faktura_first_name" required>
  </div>

<br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>


{%endblock content %}
