
    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_last_name.label }}</div>
        <div class="col-5">{{ form.customer_last_name(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_email.label }}</div>
        <div class="col-5">{{ form.customer_email(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_phone.label }}</div>
        <div class="col-2">{{ form.customer_phone_code(class="form-control") }}</div>
        <div class="col-3">{{ form.customer_phone(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_city.label }}</div>
        <div class="col-5">{{ form.customer_city(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_street.label }}</div>
        <div class="col-5">{{ form.customer_street(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_zipcode.label }}</div>
        <div class="col-5">{{ form.customer_zipcode(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-1">{{ form.customer_info.label }}</div>
        <div class="col-5">{{ form.customer_info(class="form-control") }}</div>
        <div class="col-3"></div>
        </div>
    </div>