{% extends 'base.html' %}

{% block content %}
<h1>Cart</h1>

{% if cart %}
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}

{% endblock %}