{% extends 'base.html'%}
    {% block content %}

<div class="auth-views-container container-fluid">
    <div class="row">
        <div class="col-3">
            {% include 'navbars/product_navbar.html'%}
        </div>
        <div class="col-9 my-5 px-5">
            <h1>Seznam přání</h1>

            <div class="py-5 px-5 d-flex justify-content-center">
              <table class="table">
                <thead>
                  <tr>
                      <th><h4>Fotka</h4></th>
                      <th><h4>Jméno</h4></th>
                      <th><h4>Odebrat ze seznamu přání</h4></th>

                  </tr>
                </thead>
                <tbody>
{% for wishlist_entry in wishlist_products %}
    <tr>
        <td><img src="{{ url_for('static', filename='images/uploads/' + wishlist_entry.product.product_image) }}" class="img-fluid product-list-product-image"></td>
        <td><a href="/products/product-preview/{{ wishlist_entry.product.id }}">{{ wishlist_entry.product.product_name }}</a></td>
<td>
    <form action="{{ url_for('views.delete_wishlist', wishlist_id=wishlist_entry.id) }}" method="POST">
        <button type="submit" class="btn btn-danger btn-sm">Smazat</button>
    </form>
</td>
    </tr>
{% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
{%endblock content %}