$red: red;

.redcolor{
    color: red;
}

.navbar{
    background: linear-gradient(to bottom, #f0f4ff, #b9d1ff);
}


#sidebar{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-image-slice: 1;
}