$blue: blue;
$red: red;
.bluecolor{
    color: blue;
}

.products-forms-background{
  background-image: url('../images/formbg8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100%;
  width: 100%;
}

.product-form-middle-container{
    border: 1px solid black;
    margin-top: 5%;
}

.add-brand-form-container,
.add-category-form-container,
.add-product-form-container,
.edit-brand-form-container,
.edit-category-form-container{
@extend .products-forms-background;
}

.add-brand-form-middle-container,
.add-category-form-middle-container,
.add-product-form-middle-container,
.edit-category-form-middle-container,
.edit-brand-form-middle-container{
@extend .product-form-middle-container;
}

.add-notebook-product-description-validation-text,
.add-notebook-product-check-red-color-text,
.add-mobile-product-check-red-color-text,
.add-product-validation-text,
.add-notebook-product-subheading-validation-text,
.add-product-subheading-validation-text,
.add-product-description-validation-text,
.add-category-validation-text,
.edit-category-validation-text,
.add-brand-validation-text,
.edit-brand-validation-text{
      color: red;
}

.create-brand-link:hover {
    color: #fc1d03 !important;
}

.product_page_product_image_div img{
    max-width: 95%;
    min-width: 95%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;

}

    .image-container {
        height: 100px; /* set a fixed height for the container */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-container img {
        object-fit: cover; /* make sure the image fits inside the container while preserving its aspect ratio */
        height: 100%;
        width: 100%;
    }

   .image-container:hover {
    border: 2px solid #ccc;
    transition: border-color 0.3s ease-in-out;
    }

.product-list-product-image {
    max-width: 60px;
    max-height: 35px;
    }

.update-product-images{
    color: inherit;
    text-decoration: none;
}

.update-product-images:hover {
    color: #fc1d03 !important;
}

.edit_product_main_image{
    width: 85%;
    height: 85%;
}

.blue-text{
color: #2F3ECD;
}


.price-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.discount-badge {
  background-color: #f00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 10px;
}

.price-details {
  display: flex;
  flex-direction: column;
}

.price-original {
  font-size: 16px;
  text-decoration: line-through;
  color: #888;
}

.price-discounted {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
