$green: green;

.greencolor{
    color: green;
}

body, html {
    height: 100%;
    margin: 0;
  }

.register-form-container{
    background-image: url('../images/formbg8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: auto;
}

.register-form-middle-container{
    border: 12px solid #A0A6B3;
      backdrop-filter: blur(25px);
}

.customer_email_check {
  color: red;
}

.customer_username_check {
  color: red;
}

.customer_password_check{
  color: red;
}
.customer_confirm_password_check{
  color: red;
}
