{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid add-product-form-container py-5">
    <h1 class="text-center">Přidat nový produkt</h1>
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 add-product-form-middle-container shadow-lg">

<form method="POST" autocomplete="off" enctype=multipart/form-data>
  {{ form.csrf_token }}
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.product_name.label }}
            </div>
            <div class="col-8">
                {{ form.product_name(class="form-control add-product-input") }}
                <div class="add-product-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.subheading.label }}
            </div>
            <div class="col-8">
                {{ form.subheading(class="form-control add-product-subheading-input") }}
                <div class="add-product-subheading-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.description.label }}
            </div>
            <div class="col-8">
                {{ form.description(class="form-control add-product-description-input") }}
                <div class="add-product-description-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.price.label }}
            </div>
            <div class="col-2">
                {{ form.price(class="form-control add-product-price-input") }}
            </div>
            <div class="col-1">
                Kč
            </div>
             <div class="col-2">
                {{ form.discount.label }}
            </div>
            <div class="col-2">
                {{ form.discount(class="form-control") }}
            </div>
             <div class="col-2">
                %
            </div>

        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.stock.label }}
            </div>
            <div class="col-2">
                {{ form.stock(class="form-control") }}
            </div>
            <div class="col-6">
                počáteční počet kusů na skladě
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.size.label }}
            </div>
            <div class="col-2">
                {{ form.size(class="form-control") }}
            </div>
            <div class="col-2">
                {{ form.size_units(class="form-control") }}
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.weight.label }}
            </div>
            <div class="col-2">
                {{ form.weight(class="form-control") }}
            </div>
            <div class="col-2">
                {{ form.weight_units(class="form-control") }}
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.color.label }}
            </div>
            <div class="col-8">
                {{ form.color(class="form-control") }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.brand_id.label }}
            </div>
            <div class="col-8">
                {{ form.brand_id(class="form-control") }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.category_id.label }}
            </div>
            <div class="col-8">
                {{ form.category_id(class="form-control") }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.product_image.label }}
            </div>
            <div class="col-8">
                {{ form.product_image(class="form-control add-product-image-input") }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.additional_images.label }}
            </div>
            <div class="col-8">
                {{ form.additional_images(class="form-control") }}
            </div>
        </div>
    </div>
    <div class="text-center">
    {{ form.add_product_submit(class="btn btn-warning") }}
    </div>
</form>

    </div>
</div>
{%endblock content %}
