{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid add-product-form-container py-5">
    <h1 class="text-center">Přidat nový produkt notebook</h1>
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 add-product-form-middle-container shadow-lg">
        <form method="POST" autocomplete="off" enctype=multipart/form-data>

              {{ form.csrf_token }}
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.product_name.label }}
            </div>
            <div class="col-8">
                {{ form.product_name(class="form-control add-notebook-product-name-input") }}
                <div class="add-notebook-product-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>

        </form>

    </div>
</div>
{%endblock content %}