{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid add-product-form-container py-5">
    <h1 class="text-center">Přidat nový produkt notebook</h1>
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 add-product-form-middle-container shadow-lg">
        <form method="POST" autocomplete="off" enctype=multipart/form-data>

              {{ form.csrf_token }}
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.product_name.label }}
            </div>
            <div class="col-8">
                {{ form.product_name(class="form-control add-notebook-product-name-input") }}
                <div class="add-notebook-product-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>

  <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.subheading.label }}
            </div>
            <div class="col-8">
                {{ form.subheading(class="form-control add-notebook-product-subheading-input") }}
                <div class="add-notebook-product-subheading-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.description.label }}
            </div>
            <div class="col-8">
                {{ form.description(class="form-control add-notebook-product-description-input") }}
                <div class="add-notebook-product-description-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.price.label }}
            </div>
            <div class="col-2">
                {{ form.price(class="form-control add-notebook-product-price-input") }}
            </div>
            <div class="col-1">
                Kč
            </div>
             <div class="col-2">
                {{ form.discount.label }}
            </div>
            <div class="col-2">
                {{ form.discount(class="form-control add-notebook-product-discount-input") }}
            </div>
             <div class="col-2">
                %
            </div>

        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
                {{ form.stock.label }}
            </div>
            <div class="col-2">
                {{ form.stock(class="form-control add-notebook-product-stock-input") }}
            </div>
            <div class="col-6">
                počáteční počet kusů na skladě
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.display_size.label }}
            </div>
            <div class="col-3">
                {{ form.display_size(class="form-control add-notebook-product-display-size-input") }}
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.display_resolution.label }}
            </div>
            <div class="col-3">
                {{ form.display_resolution(class="form-control add-notebook-display-resolution-input") }}
            </div>
        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.display_frequency.label }}
            </div>
            <div class="col-3">
                {{ form.display_frequency(class="form-control add-notebook-display-frequency-input") }}
            </div>
        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.display_nits.label }}
            </div>
            <div class="col-3">
                {{ form.display_nits(class="form-control add-notebook-display-nits-input") }}
            </div>
        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.display_type.label }}
            </div>
            <div class="col-3">
                {{ form.display_type(class="form-control add-notebook-display-type-input") }}
            </div>
        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.processor.label }}
            </div>
            <div class="col-3">
                {{ form.processor(class="form-control add-notebook-processor-input") }}
            </div>
        </div>
    </div>

   <div class="mb-3">
        <div class="row py-2">
            <div class="col-3">
                {{ form.processor_cores.label }}
            </div>
            <div class="col-3">
                {{ form.processor_cores(class="form-control add-notebook-processor_cores-input") }}
            </div>
        </div>
    </div>

        </form>

    </div>
</div>
{%endblock content %}