{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid add-brand-form-container py-5">
    <h1 class="text-center">Přidat novou značku</h1>
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 add-brand-form-middle-container">

<form method="POST" autocomplete="off">
    {{ form.csrf_token }}
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
        {{ form.brand_name.label }}
            </div>
            <div class="col-8">
        {{ form.brand_name(class="form-control add-brand-input") }}
                <div class="add-brand-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="text-center">
    {{ form.add_brand_submit(class="btn btn-warning") }}
    </div>
</form>

    </div>

<div class="py-5 px-5 d-flex justify-content-center">
  <table class="table">
    <thead>
      <tr>
          <th><h4>Jméno</h4></th>
          <th><h4>Vytvořeno</h4></th>
          <th><h4>Upraveno</h4></th>
          <th><h4>Datum úpravy</h4></th>
          <th><h4>Upravit</h4></th>
          <th><h4>Smazat</h4></th>
      </tr>
    </thead>
    <tbody>
      {% for brand in brands %}
        <tr>
          <td>{{ brand.brand_name }}</td>
          <td>{{ brand.date_created|custom_date_format }}</td>

            {% if brand.edited == False %}
            <td>Neupraveno</td>
            {% else %}
            <td>Upraveno</td>
            {% endif %}

            {% if brand.date_edited == None %}
            <td>Neupraveno</td>
            {% else %}
            <td>{{ brand.date_edited|custom_date_format }}</td>
            {% endif %}

            <td><a class="btn btn-info btn-sm" href="/products/edit-brand/{{ brand.id }}">Upravit</a></td>
<!--        <td><a id="brand-{{brand.id}}" data-id="{{ brand.id }}" class="btn btn-danger btn-sm delete-brand-button"href="/deletecategory/{{ brand.id }}">Smazat</a></td>-->



        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{%endblock content %}
