{% extends 'base.html'%}
    {% block content %}
<div class="container-fluid edit-brand-form-container py-5">
    <h1 class="text-center">Upravit značku</h1>
    <h2 class="text-center">{{ brand.brand_name }}</h2>
    <div class="container w-50 rounded-3 px-5 py-5 pb-4 edit-brand-form-middle-container shadow-lg">

<form method="POST" autocomplete="off">
    {{ form.csrf_token }}
    <div class="mb-3">
        <div class="row py-2">
            <div class="col-2">
        {{ form.brand_name.label }}
            </div>
            <div class="col-8">
        {{ form.brand_name(class="form-control edit-brand-input") }}
                <div class="edit-brand-validation-text text-start"><small class="brand-used"></small></div>
            </div>
        </div>
    </div>
    <div class="text-center">
        {{ form.edit_brand_submit(class="btn btn-warning", label="Upravit značku") }}
    </div>
</form>
    </div>
     <div class="text-center my-5">
         <a class="nav-link mx-2 create-brand-link" href="/products/create-brand"><h2>Vytvořit další značku</h2></a>
     </div>
</div>
{%endblock content %}
