{% extends 'base.html'%}
    {% block content %}

<div class="auth-views-container container-fluid">
    <div class="row">
        <div class="col-3">
            {% include 'navbars/left_navbar.html'%}
        </div>
        <div class="col-9 my-5 px-5">
            <h1>Product list</h1>

            <div class="py-5 px-5 d-flex justify-content-center">
              <table class="table">
                <thead>
                  <tr>
                      <th><h4>Fotka</h4></th>
                      <th><h4>Jméno</h4></th>
                      <th><h4>Vytvořeno</h4></th>
                      <th><h4>Upraveno</h4></th>
                      <th><h4>Datum úpravy</h4></th>
                      <th><h4>Upravit</h4></th>
                      <th><h4>Smazat</h4></th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                    <tr>
                      <td><img src="{{ url_for('static', filename='images/uploads/' + product.product_image) }}" class=" img-fluid product-list-product-image"></td>
                      <td><a href="/products/product-preview/{{ product.id }}">{{ product.product_name }}</a></td>
                      <td>{{ product.date_created|custom_date_format }}</td>

                        {% if product.edited == False %}
                        <td>Neupraveno</td>
                        {% else %}
                        <td>Upraveno</td>
                        {% endif %}

                        {% if product.date_edited == None %}
                        <td>Neupraveno</td>
                        {% else %}
                        <td>{{ product.date_edited|custom_date_format }}</td>
                        {% endif %}
<!--                        mark for add code if add new product-->

        {% if product.product_type == 'Mobile' %}
            <td><a class="btn btn-info btn-sm" href="/products/edit-mobile-product/{{ product.id }}">Upravit</a></td>
        {% elif product.product_type == 'Notebook' %}
            <td><a class="btn btn-info btn-sm" href="/products/edit-notebook-product/{{ product.id }}">Upravit</a></td>
        {% elif product.product_type == 'Herní konzole' %}
            <td><a class="btn btn-info btn-sm" href="/products/edit-console-product/{{ product.id }}">Upravit</a></td>
        {% elif product.product_type == 'Hodinky' %}
            <td><a class="btn btn-info btn-sm" href="/products/edit-smart-watch-product/{{ product.id }}">Upravit</a></td>
        {% endif %}


        <!-- Existing columns... -->
        {% if product.product_type == 'Mobile' %}
            <td><a class="btn btn-danger btn-sm" href="/products/delete-mobile-product/{{ product.id }}">Smazat</a></td>
        {% elif product.product_type == 'Notebook' %}
            <td><a class="btn btn-danger btn-sm" href="/products/delete-notebook-product/{{ product.id }}">Smazat</a></td>
        {% elif product.product_type == 'Herní konzole' %}
            <td><a class="btn btn-danger btn-sm" href="/products/delete-console-product/{{ product.id }}">Smazat</a></td>
        {% elif product.product_type == 'Hodinky' %}
            <td><a class="btn btn-danger btn-sm" href="/products/delete-smart-watch-product/{{ product.id }}">Smazat</a></td>
        {% endif %}

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
{%endblock content %}